@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: #040818;
}

h1, h2, h3, h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Cairo', sans-serif;;
}

#notifications {
    display: none;
}

.alerts svg {
    width: 26px;
    height: 26px;
}

.alerts {
    height: 30px;
    position: relative;
}

nav svg {
    width: 40px;
    height: 40px;
}

nav a {
    display: inline-block;
}

.main-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "navbar" "main" "footer";
}

header {
    grid-area: header;
    background-color: #3C5487;
    color: white;
    display: flex;
    align-items: center;
    padding: 1rem;
}

header h1 {
    font-size: 1.5rem;
}

header h3 {
    display: none;
}

header .alerts {
    margin-left: auto;
}

header #profile-tab {
    border-left: lightgray 1px solid;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    margin-left: 1rem;
}

header #profile-tab img {
    width: 30px;
    border-radius: 50%;
    display: inline-block;
}

nav {
    grid-area: navbar;
    background-color: #041224;
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

nav a {
    display: inline-block;
}

nav a:not(.current) .nav-icon {
    fill: #aca9b5;
}

nav a.current {
    border-bottom: greenyellow 2px solid;
    padding-bottom: .5rem;
}

main {
    grid-area: main;
    display: grid;
    padding: 1rem;
}

main section {
    padding: 1rem 0;
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type=search]{
    width: 50vw;
    padding: .5rem;
    margin-top: 1rem;
    outline: none;
    border: 1px solid #797979;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
    float: left;
}

.main-header-search button {
    border: 1px solid #797979;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
    cursor: pointer;
    height: 36px;
    float: left;
    margin-top: 1rem;
    background-color: white;
    outline: none;
}

.alert-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFC400;
    padding: .5rem 1rem;
    border-radius: 5px;
    color: white;
}

.alert-banner-close {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
}

section h3 {
    text-transform: uppercase;
}

section.traffic {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr minmax(300px, 4fr);
}

.traffic .traffic-nav {
    list-style: none;
    display: flex;
    justify-content: center;
}

.traffic .traffic-nav li {
    padding: .5rem;
    font-weight: bold;
    margin: 0 .5rem;
}

.traffic .traffic-nav li.active {
    background-color: #3C5487;
    color: white;
    border-radius: 5px;
}

.bottom-border {
    border-bottom: 1px #797979 solid;
}

.top-border {
    border-top: 1px #797979 solid;;
}

.social-stats {
    display: flex;
    flex-direction: column;
}

.social-platform {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1rem;
    margin-top: 1rem;
    background-color: #eeeeee;
    border: #797979 2px solid;
    border-radius: 5px;
}
.social-text {
    margin-left: 1rem;
}
.social-text p:first-child {
    color: #3C5487;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.social-text p + p {
    font-weight: bold;
    color: #797979;
    font-size: 2rem;
    margin: .5rem 0;
}

.social-icon i{
    color: white;
    font-size: 2.5rem;
}
.social-icon {
    background-color: #3C5487;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.members {
    display: flex;
    flex-direction: column;
    padding: .5rem 1rem;
}

.member-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #797979 solid;
    padding: .6rem 1rem;
}

.member-item p:last-child {
    margin-left: auto;
}

.member-item img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 1rem;
}

.member-text p {
    margin-bottom: .3rem;
}

.member-text a {
    display: inline-block;
    margin-bottom: 1rem;
}

.recent-activity {
    display: flex;
    flex-direction: column;
    padding: .5rem 1rem;
}

.activity-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #797979 solid;
    padding: .6rem 1rem;
}

.activity-item img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 1rem;
}

.activity-item .arrow {
    margin-left: auto;
}

.activity-text p:first-child {
    margin-bottom: .3rem
}

.activity-text p + p {
    margin-top: 0;
}

.messaging {
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
}

.messaging form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

input[type=text], textarea, select {
    background-color: #eeeeee;
    padding: 1rem;
    outline: none;
    border: 1px #797979 solid;
    border-radius: 5px;
    margin-top: 1rem;
}

.button-primary {
    font-weight: bold;
    background-color: #3C5487;
    padding: .5rem;
    color: white;
    margin-top: 1rem;
    border-radius: 5px;
}

button + button {
    margin-left: 1rem;
}

footer {
    grid-area: footer;
    text-align: center;
    padding: 2rem;
    color: lightgray;
    font-weight: bold;
}

.widget-container-full, .widget-container-half {
    width: 95vw;
}

/*
    Media Queries
*/

@media (min-width: 768px) {
    .main-container {
        grid-template-columns: 100px 1fr;
        grid-template-areas: "header header" "navbar main" "navbar footer";
    }

    main {
        grid-template-columns: 1fr 1fr;
    }

    .main-header {
        grid-column: 1 / span 2;
    }

    .traffic {
        grid-column: 1 / span 2;
    }

    .social-stats {
        grid-column: 1 / span 2;
    }

    .alert {
        grid-column: 1 / span 2;
    }

    .mobile-users, .recent-activity, .settings {
        grid-column: 2 / span 1;
    }

    .daily, .members, .messaging {
        grid-column: 1 / span 1;
    }

    .widget-container-full {
        width: 90vw;
    }

    .widget-container-half  {
        width: 45vh;
    }
}